<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="talon_gazebo" params="name namespace">
        <gazebo reference="talon">
            <mu1>0.9</mu1>
            <mu2>0.9</mu2>
            <minDepth>0.01</minDepth>
        </gazebo>

        <gazebo reference="front_left_wheel_link"/>
        <gazebo reference="front_left_wheel"/>

        <gazebo reference="front_right_wheel_link"/>
        <gazebo reference="front_right_wheel"/>

        <gazebo reference="rear_left_wheel_link"/>
        <gazebo reference="rear_left_wheel"/>

        <gazebo reference="rear_right_wheel_link"/>
        <gazebo reference="rear_right_wheel"/>
    </xacro:macro>
</robot>
