<launch>
    <!-- Don't believe ns param current has any effect -->
    <arg name="ns"                 default="robot"/>
    <arg name="name"               default="base"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hardware_launch)/urdf/robot.urdf.xacro' namespace:=$(arg ns) name:=$(arg name)"/>

    <!--param name="tf_prefix" value="$(arg name)"/-->
</launch>
